<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <!-- Start : row -->
            <h1 appHost>Host Directive</h1>
            <!-- Empty the 'row' div -->
            <h1 align="center">{{ title }}</h1>
            <!-- <app-mob-part></app-mob-part>
      <app-laptops></app-laptops>
      <app-books></app-books>
      <app-pens></app-pens> -->
<!-- <app-parent></app-parent> -->

            <!-- step 6 : router-outlet -->
            <router-outlet></router-outlet>
<router-outlet name="outlet1"></router-outlet>
<router-outlet name="outlet2"></router-outlet>
            <!-- End : row -->
        </div>
    </div>
</div>