<div class="carousel">
  <a class="carousel-item" href="#one!"
    ><img src="../../../assets/img/1.jpeg"
  /></a>
  <a class="carousel-item" href="#two!"
    ><img src="../../../assets/img/2.jpeg"
  /></a>
  <a class="carousel-item" href="#three!"
    ><img src="../../../assets/img/3.jpeg"
  /></a>
  <a class="carousel-item" href="#four!"
    ><img src="../../../assets/img/4.jpeg"
  /></a>
  <a class="carousel-item" href="#five!"
    ><img src="../../../assets/img/5.jpeg"
  /></a>
</div>
<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
